*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

/* Styles for the container */
.container{
  width: 100vw;
  min-height: 100vh;
  background: #0e484c;
  transition: 0.5s;
}

/* Dark mode container styles */
.container.dark{
  background: #222;
}